---
layout: page
title: Drink Coffee. Code. Repeat.
excerpt: "A coworking and networking group that meets weekly at dojo4"
search_omit: true
---

<p>The Boulder Code&amp;&amp;Coffee meets every Wednesday mornings from 9am until
noon at <a href="http://dojo4.com">dojo4</a>.</p>

<p>While we trace our origins to a handful of Rubyists, we are open to
developers of any persuasion. This includes sexual orientation, religious beliefs (or lack
thereof), race, and the many diverse attributes that makes us human.</p>

<p>We also extends this inclusiveness to choice of operating
systems, editors and languages.</p>

<h2>Latest Posts</h2>
<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
