/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@700&display=swap');

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* **************************** */
/*** BEGIN Hamburger menu css ***/
/* **************************** */

/* Hamburger menu animation */
.hamburger-line:nth-child(1) {
  top: 25%;
}
.hamburger-line:nth-child(2) {
  top: 50%;
}
.hamburger-line:nth-child(3) {
  top: 75%;
}

/* X animation when menu is open */
.menu-open .hamburger-line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.menu-open .hamburger-line:nth-child(2) {
  opacity: 0;
}
.menu-open .hamburger-line:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* Menu slide animation */
#main-menu {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
}

#main-menu.show {
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 768px) {
  #main-menu {
      transform: none;
      opacity: 1;
  }
}

/* **************************** */
/*** END Hamburger menu css ***/
/* **************************** */